# Compiled object files
*.o

# Executables
*.exe
*.out

# Compiled libraries
*.a
*.so

# Build directories
build/
bin/

# IDE specific files
.vscode/
.idea/

# Dependency directories
vendor/

# ply file
*.ply